<h1 class="display-4">All Boxes</h1>
<ul>
  <% @boxes.sort.each do |box| %>
  <ul class="list-group list-group-flush">
    <li>  <%= link_to box.title, box, :class => "list-group-item list-group-item-light" %></li>
  </ul>

  <% end %>

</ul>
