<div class="container">
  <h1 class="display-6">All Boxes</h1>

  <div class="card-body bg-light mb-3" style="width: 30rem;">
    <ul>
      <% @boxes.sort.each do |box| %>
      <ul class="list-group list-group-flush" style="width: 20rem;">
        <li>  <%= link_to box.title, box, :class => "list-group-item list-group-item-light" %></li>
      </ul>
      <% end %>
    </ul>
  </div>


</div>
